@mixin standard-color {
  color: var(--background-text);
}

@mixin standard-background {
  background: var(--background);
}

@mixin primary-background-color {
  color: var(--primary-text);
}

@mixin primary-background {
  background: var(--primary);
}

@mixin primary-color {
  color: var(--primary);
}

@mixin menu-background {
  background: var(--menu-background);
}

@mixin menu-color {
  color: var(--menu-background-text);
}

@mixin disabled-background {
  background: var(--disabled);
}

@mixin disabled-color {
  color: var(--disabled-text);
}

@mixin highlight-background {
  background: var(--highlight);
}

@mixin highlight-color {
  color: var(--highlight-text);
}

@mixin shadow-background {
  background: var(--shadow);
}

@mixin shadow-color {
  color: var(--shadow-text);
}

@mixin transparent-background {
  background: transparent;
}

@mixin transparent-color {
  color: transparent;
}
