@mixin no-margin {
  @warn deprecated;
  margin: 0;
}

@mixin no-padding {
  @warn deprecated;
  padding: 0;
}

@mixin no-border {
  @warn deprecated;
  border: 0;
}

@mixin standard {@warn deprecated;
  @include standard-background;
  @include standard-text;
}

@mixin standard-text {
  @warn deprecated;
  color: var(--background-text);
}

@mixin standard-background {
  @warn deprecated;
  background: var(--background);
}

@mixin primary {
  @warn deprecated;
  @include primary-color;
  background: var(--primary);
}

@mixin primary-color {
  @warn deprecated;
  color: var(--primary-text);
}

@mixin rounded {
  @warn deprecated;
  border-radius: var(--radius);
}

@mixin unit-padding {
  @warn deprecated;
  padding: var(--unit);
}

@mixin inline-unit-padding {
  @warn deprecated;
  padding-inline: var(--unit);
}

@mixin block-unit-padding {
  @warn deprecated;
  padding-block: var(--unit);
}

@mixin unit-margin {
  @warn deprecated;
  margin: var(--unit);
}

@mixin double-unit-padding {
  @warn deprecated;
  padding: var(--double-unit);
}

@mixin double-unit-block-padding {
  @warn deprecated;
  padding-block: var(--double-unit);
}

@mixin no-inline-padding {
  @warn deprecated;
  padding-inline: 0;
}

@mixin no-block-padding {
  @warn deprecated;
  padding-block: 0;
}

@mixin double-unit-inline-padding {
  @warn deprecated;
  padding-inline: var(--double-unit);
}

@mixin double-unit-margin {
  @warn deprecated;
  margin: var(--unit);
}

@mixin double-unit-block-margin {
  @warn deprecated;
  margin-block: var(--double-unit);
}

@mixin double-unit-inline-margin {
  @warn deprecated;
  margin-inline: var(--double-unit);
}

@mixin unit-block-margin {
  @warn deprecated;
  margin-block: var(--unit);
}

@mixin unit-inline-margin {
  @warn deprecated;
  margin-inline: var(--unit);
}

@mixin with-fade {
  @warn deprecated;
  // TODO specify properties
  transition: background .25s ease-in-out, color .25s ease-in-out, border-color .25s ease-in-out;
}

@mixin full-size {
  @warn deprecated;
  min-height: 100%;
  min-width: 100%;
}

@mixin absolute-full-size {
  @warn deprecated;
  height: 100%;
  width: 100%;
}

@mixin italic {
  @warn deprecated;
  font-style: italic;
}

@mixin underline {
  @warn deprecated;
  text-decoration: underline;
}

@mixin bold {
  @warn deprecated;
  font-weight: 600;
}

@mixin light {
  @warn deprecated;
  font-weight: 300;
}

@mixin uppercase {
  @warn deprecated;
  text-transform: uppercase;
}

@mixin capitalize {
  @warn deprecated;
  text-transform: capitalize;
}

@mixin size-max {
  @warn deprecated;
  min-height: 100%;
  min-width: 100%;
}

@mixin size-100 {
  @warn deprecated;
  height: 100%;
  width: 100%;
}

@mixin two-items {
  @warn deprecated;
  display: grid;
  gap: var(--unit);
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}

@mixin grid-center-items {
  @warn deprecated;
  display: grid;
  place-items: center;
}

@mixin font($family) {
  @warn deprecated;
  @if $family == 'raleway' {
    font-family: Raleway, 'Helvetica Neue', sans-serif;
  } @else if $family == 'playfair' {
    font-family: 'Playfair Display', 'Times New Roman', sans-serif;
  } @else if $family == 'phosphor-icons' {
    // stylelint-disable-next-line font-family-no-missing-generic-family-keyword -- Icons do not have generic family
    font-family: Phosphor-icons;
  } @else if $family == 'inter' {
    font-family: Inter, Helvetica, Arial, sans-serif;
  }
}
