@use '~/node_modules/@fontsource/inter/scss/mixins' as inter;
@use '~/node_modules/@fontsource/playfair-display/scss/mixins' as playfair;
@use '~/node_modules/@fontsource/raleway/scss/mixins' as raleway;
@use '~/node_modules/@fontsource/varela/scss/mixins' as varela;
@use '~/node_modules/@fontsource/varela-round/scss/mixins' as varelaRound;
@use '~/node_modules/@fontsource/source-code-pro/scss/mixins' as sourceCodePro;


@mixin inter {
  @include inter.fontFace($weight: 300, $display: fallback, $fontDir: '~/node_modules/@fontsource/inter/files');
  @include inter.fontFace($weight: 400, $display: fallback, $fontDir: '~/node_modules/@fontsource/inter/files');
  @include inter.fontFace($weight: 500, $display: fallback, $fontDir: '~/node_modules/@fontsource/inter/files');
  @include inter.fontFace($weight: 600, $display: fallback, $fontDir: '~/node_modules/@fontsource/inter/files');
  @include inter.fontFace($weight: 700, $display: fallback, $fontDir: '~/node_modules/@fontsource/inter/files');
  @include inter.fontFace($weight: 800, $display: fallback, $fontDir: '~/node_modules/@fontsource/inter/files');
}

@mixin playfair-display {
  @include playfair.fontFace(
    $weight: 400,
    $display: fallback,
    $fontDir: '~/node_modules/@fontsource/playfair-display/files');
  @include playfair.fontFace(
    $weight: 500,
    $display: fallback,
    $fontDir: '~/node_modules/@fontsource/playfair-display/files');
  @include playfair.fontFace(
    $weight: 600,
    $display: fallback,
    $fontDir: '~/node_modules/@fontsource/playfair-display/files');
  @include playfair.fontFace(
    $weight: 700,
    $display: fallback,
    $fontDir: '~/node_modules/@fontsource/playfair-display/files');
  @include playfair.fontFace(
    $weight: 800,
    $display: fallback,
    $fontDir: '~/node_modules/@fontsource/playfair-display/files');
}

@mixin raleway {
  @include raleway.fontFace($weight: 300, $display: fallback, $fontDir: '~/node_modules/@fontsource/raleway/files');
  @include raleway.fontFace($weight: 400, $display: fallback, $fontDir: '~/node_modules/@fontsource/raleway/files');
  @include raleway.fontFace($weight: 500, $display: fallback, $fontDir: '~/node_modules/@fontsource/raleway/files');
  @include raleway.fontFace($weight: 600, $display: fallback, $fontDir: '~/node_modules/@fontsource/raleway/files');
  @include raleway.fontFace($weight: 700, $display: fallback, $fontDir: '~/node_modules/@fontsource/raleway/files');
  @include raleway.fontFace($weight: 800, $display: fallback, $fontDir: '~/node_modules/@fontsource/raleway/files');
}

@mixin sourceCodePro {
  @include sourceCodePro.fontFace(
    $weight: 300,
    $display: fallback,
    $fontDir: '~/node_modules/@fontsource/source-code-pro/files');
  @include sourceCodePro.fontFace(
    $weight: 400,
    $display: fallback,
    $fontDir: '~/node_modules/@fontsource/source-code-pro/files');
  @include sourceCodePro.fontFace(
    $weight: 500,
    $display: fallback,
    $fontDir: '~/node_modules/@fontsource/source-code-pro/files');
  @include sourceCodePro.fontFace(
    $weight: 600,
    $display: fallback,
    $fontDir: '~/node_modules/@fontsource/source-code-pro/files');
  @include sourceCodePro.fontFace(
    $weight: 700,
    $display: fallback,
    $fontDir: '~/node_modules/@fontsource/source-code-pro/files');
  @include sourceCodePro.fontFace(
    $weight: 800,
    $display: fallback,
    $fontDir: '~/node_modules/@fontsource/source-code-pro/files');
}

@mixin varela {
  // @include varela.fontFace($weight: 300, $display: fallback, $fontDir: '~/node_modules/@fontsource/varela/files');
  @include varela.fontFace($weight: 400, $display: fallback, $fontDir: '~/node_modules/@fontsource/varela/files');
  // @include varela.fontFace($weight: 500, $display: fallback, $fontDir: '~/node_modules/@fontsource/varela/files');
  // @include varela.fontFace($weight: 600, $display: fallback, $fontDir: '~/node_modules/@fontsource/varela/files');
  // @include varela.fontFace($weight: 700, $display: fallback, $fontDir: '~/node_modules/@fontsource/varela/files');
  // @include varela.fontFace($weight: 800, $display: fallback, $fontDir: '~/node_modules/@fontsource/varela/files');
}

@mixin varelaRound {
  // @include varelaRound.fontFace(
  //   $weight: 300,
  //   $display: fallback,
  //   $fontDir: '~/node_modules/@fontsource/varela-round/files');
  @include varelaRound.fontFace(
    $weight: 400,
    $display: fallback,
    $fontDir: '~/node_modules/@fontsource/varela-round/files');
  // @include varelaRound.fontFace(
  //   $weight: 500,
  //   $display: fallback,
  //   $fontDir: '~/node_modules/@fontsource/varela-round/files');
  // @include varelaRound.fontFace(
  //   $weight: 600,
  //   $display: fallback,
  //   $fontDir: '~/node_modules/@fontsource/varela-round/files');
  // @include varelaRound.fontFace(
  //   $weight: 700,
  //   $display: fallback,
  //   $fontDir: '~/node_modules/@fontsource/varela-round/files');
  // @include varelaRound.fontFace(
  //   $weight: 800,
  //   $display: fallback,
  //   $fontDir: '~/node_modules/@fontsource/varela-round/files');
}

@mixin font($family) {
  @if $family == 'raleway' {
    font-family: Raleway, 'Helvetica Neue', sans-serif;
  } @else if $family == 'playfair' {
    font-family: 'Playfair Display', 'Times New Roman', sans-serif;
  } @else if $family == 'phosphor-icons' {
    // stylelint-disable-next-line font-family-no-missing-generic-family-keyword -- Icons do not have generic family
    font-family: Phosphor-icons;
  } @else if $family == 'inter' {
    font-family: Inter, Helvetica, Arial, sans-serif;
  } @else if $family == 'varela' {
    font-family: Varela, Helvetica, Arial, sans-serif;
  } @else if $family == 'varela-round' {
    font-family: 'Varela round', Helvetica, Arial, sans-serif;
  } @else if $family == 'source-code-pro' {
    font-family: 'Source Code Pro', Courier, monospace;
  } @else {
    font-family: $family, Helvetica, Arial, sans-serif;
  }
}
