@use 'sass:string';
@forward './deprecated';

@mixin rounded {
  border-radius: var(--radius);
}

@mixin fade($properties...) {
  $values: '';

  @each $property in $properties {
    $values: '#{$values} #{$property} 0.25s ease-in-out,';
  }

  // stylelint-disable-next-line function-no-unknown, order/order -- TODO remove
  transition: string.slice($values, 2, -2);
}

@mixin set-100-percent($properties...) {
  @each $property in $properties {
    #{$property}: 100%;
  }
}

// stylelint-disable declaration-no-important -- Disable animations for motion reduction
@mixin reduced-motion {
  animation-duration: .01ms !important;
  animation-iteration-count: 1 !important;
  scroll-behavior: auto !important;
  transition-duration: .01ms !important;
}
// stylelint-enable declaration-no-important
