@use './scrollbar.scss';
@use './theme.scss';
@use './mixins.scss';
@use './sizes.scss';

@mixin paintbrush {
  @media (prefers-reduced-motion: reduce) {

    html:focus-within {
      scroll-behavior: auto;
    }

    *, *::before, *::after {
      @include mixins.reduced-motion;
    }
  }

  html, body {
    @include mixins.set-100-percent('width', 'height');
    @include sizes.no-margin;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    @include scrollbar.spec;
    @include scrollbar.webkit;
  }

  html, body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
    @include sizes.no-margin;
  }

  html {
    text-size-adjust: 100%;

    &:focus-within {
      scroll-behavior: smooth;
    }
  }

  body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    text-rendering: optimizespeed;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  button, [type=button], [type=reset], [type=submit] {
    appearance: button;
    cursor: pointer;
  }

  #__nuxt {
    @include mixins.set-100-percent('width', 'height');

    isolation: isolate;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  }
}
