@use './scrollbar';
@use './theme';
@use './mixins';

@mixin paintbrush {
  @media (prefers-reduced-motion: reduce) {

    html:focus-within {
      scroll-behavior: auto;
    }

    // stylelint-disable declaration-no-important -- Disable animations for motion reduction
    *, *::before, *::after {
      animation-duration: .01ms !important;
      animation-iteration-count: 1 !important;
      scroll-behavior: auto !important;
      transition-duration: .01ms !important;
    }
    // stylelint-enable declaration-no-important
  }

  html, body {
    @include mixins.full-size;
    @include mixins.no-margin;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    @include scrollbar.spec;
    @include scrollbar.webkit;
  }

  html, body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
    @include mixins.no-margin;
  }

  html {
    text-size-adjust: 100%;

    &:focus-within {
      scroll-behavior: smooth;
    }
  }

  body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    text-rendering: optimizespeed;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  button, [type=button], [type=reset], [type=submit] {
    appearance: button;
    cursor: pointer;
  }

  #__nuxt {
    isolation: isolate;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    @include mixins.full-size;
  }
}
