@use './theme';

@mixin webkit {

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    background: var(--background-second);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--text-second);
    border: 3px solid var(--background-second);
    border-radius: 8px;
  }
}

@mixin spec {
  scrollbar-color: var(--text-second) var(--background-second);
  scrollbar-width: auto;
}
