@use './theme';

@mixin webkit {

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--background-highlight);
    border: 3px solid transparent;
    border-radius: 8px;
  }
}

@mixin spec {
  scrollbar-color: var(--background-highlight) transparent;
  scrollbar-width: auto;
}
